#header{border-bottom:1px solid #BED1DD;height:33px;line-height:33px;padding-right:20px;}
#header .sitename{font-size:16px;}
#sidebar{background:#EFF8FF;width:150px;border-right:1px solid #BED1DD;margin-right:20px;}

#nav li.line{background: #D1E5EE;border-top:1px solid #BED1DD;border-bottom:1px solid #BED1DD;height:3px;overflow:hidden;}
#nav li.menu{position:relative;border-top:1px solid #fff;border-bottom:1px solid #D1E5EE; text-indent:30px;line-height:30px;font-size:14px;font-weight:600;cursor:pointer;}
#nav li.menu b.hover{background:url(../images/ico.png) no-repeat -240px 0;width:16px;height:16px; position: absolute;right:10px;top:7px;display:none;}
#nav li.menu:hover b.hover{display:block;}
#nav li.menu a{position:relative;}
#nav li.menu a b{position:absolute;z-index:9;width:16px;height:16px;left:-20px;top:2px;background:url(../images/ico.png) no-repeat;}
#nav li.menu a b.index{background-position:-32px -16px;}
#nav li.menu a b.user{background-position:-160px -16px;}
#nav li.menu a b.nav{background-position:-144px -16px;}
#nav li.menu a b.c{background-position:-96px -16px;}
#nav li.menu a b.module{background-position:0px -16px;}
#nav li.menu a b.article{background-position:-80px -16px;}
#nav li.menu a b.page{background-position:-208px -16px;}
#nav li.menu a b.custom{background-position:-224px -16px;}
#nav li.menu a b.link{background-position:-48px -16px;}
#nav li.menu a b.options{background-position:-128px -16px;}
#nav li.menu a b.comment{background-position:-16px -16px;}

#nav li.menu b.arrow{background:#5589AA url(../images/ico.png) no-repeat 0px -32px;width:16px;height:30px; position:absolute;right:-10px;top:0px;overflow:hidden;}

#nav li.current{background:#518bab;border-bottom:0px;}
#nav li.current a{color:#fff;text-shadow: 0 -1px 0 #333;}
#nav li.current a b.index{background-position:-32px 0px;}
#nav li.current a b.user{background-position:-160px 0px;}
#nav li.current a b.nav{background-position:-144px 0px;}
#nav li.current a b.c{background-position:-96px 0px;}
#nav li.current a b.module{background-position:0px 0px;}
#nav li.current a b.article{background-position:-80px 0px;}
#nav li.current a b.page{background-position:-208px 0px;}
#nav li.current a b.custom{background-position:-224px 0px;}
#nav li.current a b.link{background-position:-48px 0px;}
#nav li.current a b.options{background-position:-128px 0px;}
#nav li.current a b.comment{background-position:-16px 0px;}
#nav li.current b.hover{display:block;}

#nav li ol{background:#fff;border-bottom:1px solid #BED1DD;border-top:1px solid #BED1DD;display:none;}
#nav li ol li{font-size:12px;font-weight:500;height:25px;line-height:25px;text-indent:15px;}
#nav li.current ol{display:block;}
#nav li.current ol li a{color:#21759B;text-shadow:none;}
#nav li ol li:hover{background:#EAF2FA;}

#wrapper{}
#wrapper h2{color:#174F69;font-size:24px;margin:10px;}
#wrapper h2 a,#wrapper h2 span{background:#f5f5f5;font-size:12px;margin:0 10px;padding:1px 5px;border-radius:3px;}

