@charset "utf-8";
/* CSS Document */

html,body{height:100%;overflow-x:hidden;}
body{min-width:1200px;background:#ccc;}

@font-face {
  font-family: 'iconfont';
  src: url(../../../../at.alicdn.com/t/font_1420725795_1221914.eott'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1420725795_1221914.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url(../../../../at.alicdn.com/t/font_1420725795_1221914.wofff') format('woff'), /* chrome、firefox */
  url(../../../../at.alicdn.com/t/font_1420725795_1221914.ttff') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1420725795_1221914.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }

#main{width:101%;overflow-y:auto; overflow-x:hidden;position:relative;}
.warp{width:1200px;margin:0 auto;z-index:2;}
#main .page{ position:relative;overflow:hidden;padding:0px;text-align:left;}
#main .page h3{width:264px;height:72px;margin:20px auto 0 auto;text-indent:-999px;overflow:Hidden;}


#menu li,.nextPage .icon,#girl li div p em,#girl li div p span,#girl li div p b,#page3 li div p b,
#page3 li div p em,#page3 li div p span,#page5 .contact .sns a{transition: all linear 0.2s;
-moz-transition: all linear 0.2s;
-webkit-transition: all linear 0.2s;
-ms-transition: all linear 0.2s;
-o-transition: all linear 0.2s;}

.nextPage{text-align: center;position:absolute;bottom:60px;width:100%;cursor:pointer;display:none;}
.nextPage .lineLeft{border-bottom: 1px solid #ccc;width: 49%;
position: absolute;left: 50%;margin-left: -50%;top: 30px;}
.nextPage .lineRight{border-bottom: 1px solid #ccc;width: 49%;
position: absolute;left: 50%;top: 30px;margin-left:2%;}

.nextPage .icon{position: relative;top: 14px;left: 8.5px;
transform: rotate(90deg);
-moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
}

.nextPage:hover .roundLine{stroke-dashoffset:-195.530965px}

.page h3,#page1 .tab1 .title,#page1 .tab1 .txt,#page1 .tab2 .title,#page1 .tab2 .txt,#page5 .contact b,#reg b{background:url(../images/sprite.png) no-repeat;}

#nav{position:fixed;bottom:0px;width:100%;z-index:998}
#nav .navMain{background:rgba(00,00,00,.2);padding:5px;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#66AF59D0,endColorStr=#66AF59D0);}
#nav a{color:#fff; text-shadow:0px 0px 1px #000;}
#nav a:hover{color:#ff3e8d;font-size:8; text-shadow:none;}
#nav ul{width:1200px;margin:0 auto;}
#nav ul li{float:left;width:125px;text-align:center;font-size:10px;}
#nav ul li.current a{color:#ff3e8d;text-shadow:none;}
#nav ul li em{display:block;font-size:15px;}

#nav .menu{background:rgba(00,00,00,.3);height:0px;overflow:hidden;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#663b1253,endColorStr=#663b1253);font-size:13px;}
#nav ol{float:left;width:125px;text-align:center;padding:5px 0;}
#nav ol a{color:#eee;font-family: "宋体";}

#menu{ position:fixed;width:250px;right:-200px;top:30%; z-index:999;}
#menu a{color:#fff;}
#menu li{border:1px solid #dbdbdb;margin-bottom:10px;text-indent:-50px;cursor: pointer;}
#menu li{display:block;height:56px;line-height: 56px;text-align:center;font-size:16px;font-weight:600;font-weight:600;color:#fff;background:rgba(00,00,00,.2);filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#23000000', EndColorStr='#23000000')}
#menu li.current,#menu li:hover{background:#FB3D85;}
#menu li .icon{margin: 12px 30px 0 10px;float: left;}

#menu li.current .roundLine,#menu li:hover .roundLine{stroke:#fff;}
#menu li.current .triangle,#menu li:hover .triangle{fill: #fff;}


#header{padding: 10px 0 10px 300px;border-bottom: 1px solid #dadee1;position: relative;z-index: 1;left: -300px;}
h1{float:Left;}
#header .menu{height: 50px;margin-left: 170px;margin-top: 30px;border-top:1px solid #dadee1;line-height:50px;width: 530px;}
#header .menu ul li{float:left;width:260px;text-align:center;font-size:18px;height: 64px;}
#header .menu ul li a{display:block;margin-top:3px;color:#333;}
#header .menu ul li.current{margin-top:-1px;}
#header .menu ul li.current a,#header .menu ul li a:hover{color:#ff3e8d;}
#header .menu b{background:url(../images/page1_5.png) no-repeat;width:256px;height:69px;display:block; position:relative;}

#page1{background:url(../images/bg1.jpg) no-repeat center top;height:901px; }
#page1 .tabs{margin-left: -30px;margin-top: -13px;position:relative;height:651px;}
#page1 .tabs p{position:absolute; text-indent: -999px;overflow:hidden;}
#page1 .tabs .box{position: absolute;right:200px;top: 150px;color: #fff;font-size: 16px;z-index: 99;}
#page1 .tabs .box a{background:#ff3e87;width:200px;line-height:43px;height:43px;color:#fff;display:block;color:#fff;margin-top:200px; opacity:0}
#page1 .tabs .box .roundLine{stroke:#fff;}
#page1 .tabs .box .triangle {fill: #fff;}
#page1 .tabs .box .icon{margin: 6px 30px 0 10px;float: left;}

#page1 .tabs .tab1{height:651px;position:absolute;top:0px;left:0px;width:100%;}
#page1 .tab1 .box{z-index:1}
#page1 .tab1 .box a{opacity:1;margin-top:130px; }
#page1 .tab1 .title{width:180px;height:72px; left:0px;}
#page1 .tab1 .txt{width:310px;height:40px;background-position:0 -72px;top:73px;left:0px;}
#page1 .tab1 .line{width:300px;height:1px;overflow:Hidden;font-size:0px;border-top:1px solid #ff3e8d;top:72px;}
#page1 .tab1 .tImg{margin-top:100px;display:block;}

#page1 .tabs .tab2{height:651px; position: absolute;top:0px;left:0px;width:100%;}
#page1 .tab2 .box{z-index:0;}
#page1 .tab2 .title{width:180px;height:72px;background-position:0 -120px;left:-100px; opacity:0;filter: Alpha(Opacity=0);}
#page1 .tab2 .txt{width:400px;height:30px;background-position:0 -192px;top:73px;left:200px;opacity:0;filter: Alpha(Opacity=0);}
#page1 .tab2 .line{width:0px;height:1px;overflow:Hidden;font-size:0px;border-top:1px solid #ff3e8d;top:72px;}
#page1 .tab2 a{opacity:0;filter: Alpha(Opacity=0);}
#page1 .tab2 .tImg{opacity:0;filter: Alpha(Opacity=0);margin-top: 6px;display: block;margin-left: 90px;}

#an1{ position: absolute;left:50%;bottom:0px;margin-left: -961px;z-index:1;}
#an2{ position: absolute;left:50%;top:0px;margin-left:-81px;z-index:1;}

#page2{background:url(../images/bg2.jpg) no-repeat center top;height:901px;position:relative;}
#page2 img{cursor: pointer;width: 373px;height: 565px;}
#page2 b{position: absolute;width: 373px;height: 565px;top: 77px;left: 50%;margin-left: -197px;z-index:281; cursor:pointer;}
#roundabout{margin-top:360px;}

#page3{background:url(../images/bg3.jpg) no-repeat center top;height:901px;}
#page3 h3{background-position:0 -240px}
#flash3{position: relative;z-index: 9;}




#page4{background:url(../images/bg4.jpg) no-repeat center top;height:901px;}
#page4 h3{background-position:0 -312px}
#flash4{position: relative;z-index: 9;}

#page5{background:url(../images/bg5.jpg) no-repeat center top;height:847px;color:#737373;}
#page5 h3{background-position:0 -384px}
#page5 .warp{position:relative;}

#page5 .userInfo{position: absolute;right: 100px;width: 250px;color: #737373;top: 120px;}


#page5 .contact{width:520px;margin-left:100px;}
#page5 .contact b{float:left;width:36px;height:36px;margin-top:-5px;}
#page5 .contact p{margin-left:40px;font-size:14px;padding-bottom:30px;}
#page5 .contact li{clear:both;padding-top:20px;}
#page5 .contact .address b{background-position:0 -468px;}
#page5 .contact .tel b{background-position:-36px -468px;}
#page5 .contact .email b{background-position:-72px -468px;}
#page5 .contact .email p{border-bottom:1px solid #ccc;}
#page5 .contact .copyright b{background-position:-108px -468px;}
#page5 .contact .copyright p{border-bottom:1px solid #ccc;}
#page5 .contact .desc b{background-position:-144px -468px;}
#page5 .contact .desc p{border-bottom:1px solid #ccc;}
#page5 .contact .sns{position:relative;}
#page5 .contact .sns a{font-size: 36px;color: #999;margin-left:30px;display:inline-block;width:50px;height:50px;line-height:50px;text-align:center;}
#page5 .contact .sns a:Hover{color:#FF3E87;}
#page5 .contact .sns img{ position:absolute;top: -38px;left: 320px; opacity:0;filter: Alpha(Opacity=0);}

.roundLine {
  stroke: #fff;
  fill: none;
  stroke-width: 2px;
  stroke-dasharray: 90.530965px, 100.530965px;
  stroke-dashoffset: -5px;
  stroke-linecap: round;
  transition: stroke-dashoffset linear 0.5s;
  -moz-transition: stroke-dashoffset linear 0.5s;
  -webkit-transition: stroke-dashoffset linear 0.5s;
  -ms-transition: stroke-dashoffset linear 0.5s;
  -o-transition: stroke-dashoffset linear 0.5s;
}


.triangle {fill: #fff;}
.iconContainer:hover .icon .roundLine{stroke-dashoffset:-195.530965px}


.cloudes{position:absolute;top:0px;left:50%;margin-left:-960px;width:1920px;z-index:0;height:2975px;}.cloudes .cloud{background-repeat:no-repeat;background-size:contain;background-position:center center}.cloudes .cloud.cloud1{width:598px;height:526px;background-image:url("../images/cloudes/chmura_1a_l.png");top:762px;left:-100px;position:absolute}.cloudes .cloud.cloud2{width:734px;height:795px;background-image:url("../images/cloudes/chmura_1a_p.png");top:649px;left:1287px;position:absolute}.cloudes .cloud.cloud3{width:803px;height:514px;background-image:url("../images/cloudes/chmura_1b_l.png");top:892px;left:-100px;position:absolute}.cloudes .cloud.cloud4{width:523px;height:437px;background-image:url("../images/cloudes/chmura_2_s.png");top:1740px;left:910px;position:absolute}.cloudes .cloud.cloud5{width:525px;height:610px;background-image:url("../images/cloudes/chmura_2a_p.png");top:1427px;left:1497px;position:absolute}.cloudes .cloud.cloud6{width:508px;height:659px;background-image:url("../images/cloudes/chmura_2c_l.png");top:1541px;left:-100px;position:absolute}.cloudes .cloud.cloud7{width:694px;height:480px;background-image:url("../images/cloudes/chmura_2c_p.png");top:1903px;left:1319px;position:absolute}.cloudes .cloud.cloud8{width:719px;height:578px;background-image:url("../images/cloudes/chmura_3a_l.png");top:2340px;left:-100px;position:absolute}.cloudes .cloud.cloud9{width:850px;height:587px;background-image:url("../images/cloudes/chmura_3a_p.png");top:2270px;left:1170px;position:absolute}.cloudes .cloud.cloud10{width:795px;height:460px;background-image:url("../images/cloudes/chmura_3b_l.png");top:2584px;left:1170px;position:absolute}.cloudes .cloud.cloud11{width:584px;height:478px;background-image:url("../images/cloudes/chmura_3b_p.png");top:2663px;left:1438px;position:absolute}.cloudes .cloud.cloud12{width:788px;height:637px;background-image:url("../images/cloudes/chmura_3c_l.png");top:2787px;left:-95px;position:absolute}.cloudes .cloud.cloud13{width:789px;height:632px;background-image:url("../images/cloudes/chmura_3c_p.png");top:2807px;left:-116px;position:absolute}.cloudes .cloud.cloud14{width:854px;height:513px;background-image:url("../images/cloudes/chmura_4_s.png");top:2433px;left:1043px;position:absolute}.cloudes .cloud.cloud15{width:611px;height:636px;background-image:url("../images/cloudes/chmura_4a_l.png");top:3794px;left:-100px;position:absolute}.cloudes .cloud.cloud16{width:749px;height:597px;background-image:url("../images/cloudes/chmura_2d_l.png");top:1932px;left:-100px;position:absolute}.cloudes .cloud.cloud17{width:652px;height:605px;background-image:url("../images/cloudes/chmura_4b_l.png");top:4220px;left:-100px;position:absolute}.cloudes .cloud.cloud18{width:866px;height:471px;background-image:url("../images/cloudes/chmura_4b_p.png");top:3849px;left:930px;position:absolute}.cloudes .cloud.cloud19{width:457px;height:664px;background-image:url("../images/cloudes/chmura_4c_l.png");top:3577px;left:-100px;position:absolute}.cloudes .cloud.cloud20{width:471px;height:463px;background-image:url("../images/cloudes/chmura_4c_p.png");top:4061px;left:1548px;position:absolute}.cloudes .cloud.cloud21{width:788px;height:637px;background-image:url("../images/cloudes/chmura_4d_l.png");top:4431px;left:-77px;position:absolute}.cloudes .cloud.cloud22{width:815px;height:543px;background-image:url("../images/cloudes/chmura_4d_p.png");top:4092px;left:1206px;position:absolute}.cloudes .cloud.cloud23{width:840px;height:616px;background-image:url("../images/cloudes/chmura_4e_p.png");top:4464px;left:1178px;position:absolute}.cloudes .cloud.cloud24{width:841px;height:620px;background-image:url("../images/cloudes/chmura_1a_s.png");top:863px;left:564px;position:absolute}.cloudes .cloud.cloud25{width:819px;height:645px;background-image:url("../images/cloudes/chmura_1b_p.png");top:859px;left:1215px;position:absolute}



/*女神馆*/
#girl{background:#f7f7f7 url(../images/girl_1.jpg) no-repeat center top;padding-top:1016px;}


#girl ul{width:1200px;margin:20px auto 0px auto;padding-bottom:100px; min-height:600px;}
#girl li{height:240px;width:220px;cursor: pointer;background:#d7d7d7;float:left;margin:10px;}
#girl li img{width:180px;height:180px;}
#girl li .pic{float:left;padding:20px;}
#girl li .pic p{text-align:center;margin-top:5px;font-size:14px;}
#girl li .info{height:220px;width:240px;background:#ff62a5;padding:20px 0 0 220px;display:none;color:#fff;}

#girl li.last .info{padding: 20px 0px 0 20px;
margin-left: -240px;
width: 440px;
position: absolute;
top: 0px;
left: 0px;}

#girl li:hover{ position:relative;}
#girl li:hover .info{display: block;}
#girl li:hover .pic{z-index:1; position:relative;}
#girl li:hover .pic p{color:#fff;}
/*女神馆 end*/


/*loginReg start*/

