@charset "utf-8";

@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1407661449_4988534.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1407661449_4988534.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1407661449_4988534.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1407661449_4988534.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1407661449_4988534.svg#iconfont') format('svg'); /* iOS 4.1- */
}
    
.iconfont,i{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }

body { background: #f1f2f3}


.rl-crumb { width: 1190px; margin: 0 auto; padding:5px; text-align: right}
.rl-crumb a { color: #666; }
.container { width: 1200px; margin: 0 auto; padding-bottom: 50px}


.page-content {}
.page-content .news-list-content { float: left;width: 695px; background: #fff;}
.asider-con { float: right; width: 488px;}

.module-link {border: 1px solid #d6d6d6; background: #fff;padding: 15px 0 28px 0;}
.module-link li { float: left; width: 161px; border-right: 1px solid #d6d6d6; text-align: center;padding-top: 10px; }
.module-link li a { display: block;filter:alpha(opacity=80);opacity:0.8;}
.module-link .last-none { border-right: none;}
.module-link li .txt { display: block; color: #666; margin-bottom: -15px;*margin-bottom: 0}
.module-link .news-icon { background: url(/Public/ruili/images/rl-icon.png) no-repeat 0 -108px; width: 36px; height: 45px; display: inline-block;}
.module-link li a:hover{filter:alpha(opacity=100);opacity:100;}
.module-link .active-icon { background: url(/Public/ruili/images/rl-icon.png) no-repeat -54px -108px; width: 36px; height: 45px; display: inline-block;}
.module-link .title-icon { background: url(/Public/ruili/images/rl-icon.png) no-repeat -103px -108px; width: 36px; height: 45px; display: inline-block;}

.hot-event {border: 1px solid #d6d6d6; background: #fff;padding: 30px 25px;}
.hot-event .title { color: #858585; font-size: 14px; padding:0 0 12px 5px; border-bottom: 1px solid #d6d6d6;}
.hot-event .type-list { padding: 15px 0 0; width: 380px; }
.hot-event .type-list li { border-right: 1px solid #d6d6d6; padding: 0 10px; float: left; height: 14px; line-height: 14px; margin-bottom: 15px;}
.hot-event .type-list li a { color: #515151;}
.hot-event .type-list li a:hover { text-decoration: underline;} 
.hot-event .act-list { border-top: 1px dotted #d6d6d6; *margin-top: 15px;}
.hot-event .act-list li { padding: 0 10px; height: 50px; line-height: 50px; border-bottom: 1px dotted #d6d6d6;}
.hot-event .act-list .f-rt { float: right;}
.hot-event .act-list a {color: #515151;}
.hot-event .act-list .yellow-tips { padding: 2px 8px; color: #fff; background: #ffbb33; border-radius: 3px; margin-left: 10px;}
.hot-event .act-list .red-tips { padding: 2px 8px; color: #fff; background: #ff4466; border-radius: 3px; margin-left: 10px;}

.news-tab { background: #c2c2c2;}
.news-tab li { float: left; width: 139px; padding: 10px 0; border-top: 5px solid #a2a2a2; text-align: center; position: relative;}
.news-tab li a { color: #525252; font-size: 16px; display: block; height: 24px; line-height: 24px; border-right: 1px dotted #515151;}
.news-tab li a.last-none { border-right: none}
.news-tab li.current, .news-tab li:hover { border-top: 5px solid #ff4e9e;}
.news-tab li.current a, .news-tab li:hover a { color: #fff;}
.news-tab li .new { position: absolute; width: 28px; height: 15px; top: 10px; left: 8px; background: url(/Public/ruili/images/rl-icon.png) no-repeat 0 -88px}
.news-list-content .tab-content {border: 1px solid #d6d6d6;padding:30px 55px 50px 55px;}
.news-list-content .news-list {}
.news-list-content .news-list li { border-bottom: 1px dotted #515151; line-height: 24px;color: #515151; padding: 32px 2px 0 2px;}
.news-list-content .news-list li a { color: #515151;}
.news-list-content .news-list li .time { float: right}
.news-list-content .news-list li a:hover { text-decoration: underline;}
.news-detail-content { padding: 25px;border: 1px solid #d6d6d6;border-top: none;overflow:hidden;}
.news-detail-content p { padding: 10px 0; text-indent: 2em; line-height: 22px; color: #666;}
.news-detail-content img{max-width:640px;display:block;}
.news-detail-content h2{font-size:18px;border-bottom:1px solid #ddd;padding:20px;}

.rec-banner { float: left; width: 690px; height: 405px; border: 1px solid #d6d6d6; position: relative}
.rec-banner .bnr-list li{ position:absolute;top:0px;left:0px;}
.rec-banner img { width: 690px; height: 405px} 
.rec-banner .tit-btn { position: absolute; left: 100px; bottom:25px; width: 500px; height: 50px;}

.rec-banner .tit-btn .bg { position: absolute; width:100%;height:100%;top: 0; left: 0; background: #000; opacity: 0.3; filter:alpha(opacity=30);  z-index: 9;}

.rec-banner .tit-btn .new { position: absolute; left: 20px; top: 12px; color: #fff; font-size: 24px; z-index: 19;}
.rec-banner .tit-btn .new span {font-size: 14px; margin-left: 8px}
.rec-banner .tit-btn .btn { position: absolute; right: 10px; top: 24px; z-index: 19;}
.tit-btn .btn li { float: left; background: url(/Public/ruili/images/news/rec-r.png) no-repeat -20px 0; margin-right: 8px; width: 13px; height: 13px; cursor: pointer}
.tit-btn .btn li.current, .tit-btn .btn li:hover {background-position: 0 0;}

.rec-page { margin-top: 40px; border-top: 1px solid #c7c7c7;}
.rec-page .rec-title { padding: 24px 0;}
.rec-page .rec-title h2 { float: left; font-size: 18px; color: #666;}
.rec-page .rec-title .more { background: #65b2ff; border-radius: 4px; float: right; text-align: center; line-height: 28px; height: 28px; color: #fff; font-size: 14px; font-weight: bold; padding: 0 10px}
.rec-page .rec-content {}
.rec-content .rec-list { margin-left: -20px;}
.rec-content .rec-list i{color:#FF6493;}
.rec-content .rec-list li { float: left; margin-left: 20px; margin-bottom: 40px; background: url(/Public/ruili/images/news/rec-bg.jpg) no-repeat 0 bottom; width: 224px;}
.rec-content .rec-list li a { display: block; padding-bottom: 5px;}
.rec-content .rec-list li img { width: 224px; height: 252px}
.rec-content .rec-list li span { display: block; text-align: center;background: #fff;  padding: 28px 0; color: #919090;}


.news-summary { background: #fff; border: 1px solid #d6d6d6; margin:10px 0; padding:0px 30px 40px 30px;}
.news-summary .news-list { float: left; width: 450px;}
.news-summary .news-list li  { border-bottom: 1px dotted #515151; line-height: 24px;color: #515151; padding: 32px 2px 0 2px;}
.news-summary .news-list li  a { color: #515151;}
.news-summary .news-list li  .time { float: right}
.news-summary .news-list li  a:hover { text-decoration: underline;}
.news-summary .news-bnr { float: right; padding: 35px 10px 0 0}









